body {
    margin-left: 200px;
    background: #5d9ab2 url("logo.jpg") no-repeat top left;
}

.center_div {
    border: 1px solid gray;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    background-color: #d0f0f6;
    text-align: center;
    padding: 8px;
}

.page1 {
    border: 1px solid gray;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    background-color: #d0f0f6;
    text-align: center;
    padding: 8px;
}

.login-buttons{
	height:38px;
	width: 95%;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 15px;
	padding-left: 5px;
	text-align: right;
}

.backbutton {
    
	height:20px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 15px;
	padding-left: 5px;
}

.home67 {
    border: 1px solid gray;
    
    margin-right: auto;
    width: 90%;
    background-color: #d0f0f6;
   
    padding: 8px;
}
.social_div {
    
    border: 1px solid gray;	
    margin-right: 750px;
    width: 50%;
    background-color: #d0f0f6;
    text-align: left;
    padding: 20px;
}
.twitter {
    
    border: 1px solid gray;

    margin-right: 800px;
    top: 100px;
    width: 80%;
    background-color: #d0f0f6;
    text-align: left;
    padding: 10px;
}

.id{
 background-color: skyblue;
 border: 1px solid gray;

}
.social_id{
 background-color: skyblue;
  border: 1px solid gray;
 height:30px;


}

input[type=radio] {
padding: 100px 100px;
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
	width: 500px;
	clear: both;
}

.login-button1{
  display:inline-block;
  height: 38px;
  background-color: #d0f0f6
  moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  border: 1px solid #e4e4e4;
  padding: 0 15px;
  color: #757575;
  text-decoration: none;
  font-size: 10pt;
  line-height: 35px;
  font-weight: bold;
}
.login-button1:hover{
  background-color: #d0f0f6;
  cursor: pointer;
}


.login-button2{
  display:inline-block;
  height: 38px;
  background-color: #d0f0f6;
  moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  border: 1px solid #e4e4e4;
  padding: 0 15px;
  color: #757575;
  text-decoration: none;
  font-size: 10pt;
  line-height: 35px;
  font-weight: bold;
outline-style: none;
}

.css-label radGroup1{
background-color: #d0f0f6;
font-size: 10pt;
}



input[type="submit"]{
	width: 20%;
	padding: 1%;
	margin-bottom: 3%;
	background: #21A957;
	font-family: 'Open Sans', sans-serif;
	color: #ECECEC;
	box-shadow: inset 0px 0px 10px #666464;
	-webkit-text-shadow: 0px 0px 3px #000;
	-moz-text-shadow: 0px 0px 3px #000;
	-o-text-shadow: 0px 0px 3px #000;
	-ms-text-shadow: 0px 0px 3px #000;
	font-size: 20px;
	outline: none;
	border: none;
	cursor: pointer;
	font-weight:500;
	border-radius: 5px;
	transition: 0.5s;
	-webkit-appearance:none;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
}

label {font: 20px; }
