<!DOCTYPE html>
<html>
 
<head>
<style>

</style>
</head>
<body>

<script type="text/javascript">
 function checkForm(form)
 { 

if(form.fbkeyword.value == "") { alert("Please enter keyword!"); form.fbkeyword.focus(); return false; } 

if(form.fbmaxcnt.value =="") { alert("Please enter number of tweets"); form.fbmaxcnt.focus(); return false; }

 } 



</script>

<link rel="stylesheet" href="../static/css/home1.css">
<div class="center_div">
  <h1>Social Driven Behavior and Search</h1>
</div>

 <div class="login-buttons">
	    	    <div id="main-login" class="login-button2" tabindex="130">
			<label><a href="/home_render">Home</a></label>
	 
		</div>
	    	    <div id="main-login" class="login-button2" tabindex="130">
			<label><a href="/Loginrender">Log out</a></label>
	     
		</div>
			  </div>






    <head>
        <form action="/fb_details" method="POST" ... onsubmit="return checkForm(this);">
        <title>Facebook main page</title>
        <link rel='stylesheet' type='text/css' href='../static/css/home1.css'/>
        
    </head>
   
<br>
<br>
<br>
        <div id="header"><h1>Welcome To Facebook!</h1></div>
<div class="twitter">
        <div id="wrapper">
            <div id="inputs">

                <form ><font size="4.5"> 
		<br><br>
<div class="id">            	
		<span style="padding-left:50px">   Keyword: <input type="text" name="fbkeyword" placeholder="Keyword to be searched"><span style="padding-left:70px">
            	   Number of Pages: <input type="text" name="fbmaxcnt" placeholder="Number of Pages"><br></div>
<br>

</div></font>
</center>
<center> 
<br>
<br>                    
<input type="submit"  name=btn value="DirectSearch" >
<input type="submit"  name=btn value="BehavioralSearch" >
<input type="submit"  name=btn value="Cancel" >

</center>
               
            </div>
        </div>
</div>
    </body>
</form>
</html>
