<html>
<title> Search help:</title>

<b>Local Data:</b>
	<p>For local data it searches using user id which we get from developers site of particular social media.Then using that id does linking levelwise,means friends of friends or followers of followers.</p>

<b>Global Data:</b>
	<p>For global data it searches randomly according to given keyword till the specified count reaches its limit.</p>
	

<h2>1.Twitter:</h2>
<br>
<b>A] Direct Search</b>
        
	<p>To search, simply type the words you want to look up in the search box above and click the "Direct Search" button. This will search both local and global data.</p>

<b>B] Behavioral Search</b>
	<p>In this create csv file of the keywords you want to search,for example : if 'mobile' then 'iphone,nokia,motorola,etc.'
It will search for mobile as well as iphone,nokia and motorola when you give 'mobile' keyword as a input for behavior search.
While creating input csv file if your keyword is a string of multiple words(phrase) then write it in single quotes.
This will search both local and global data.</p>

</br>
<h2>2.Facebook:</h2>
<br>
<b>A] Direct Search:</b>
	<p>To search, simply type the words you want to look up in the search box above and click the "Direct Search" button. This will search both local and global data.</p>

<b>B] Behavioral Search:</b>
	<p>In this create csv file of the keywords you want to search,for example : if 'mobile' then 'iphone,nokia,motorola,etc.'
It will search for mobile as well as iphone,nokia and motorola when you give 'mobile' keyword as a input for behavior search.
While creating input csv file if your keyword is a string of multiple words(phrase) then write it in single quotes.
This will search both local and global data.
</p>

</br>

<h2>3.Search Tips:</h2>

<p>Search will include all occurrences of your word, whether capitalized or not. Different forms of words, such as "volcano" and "volcanoes", are considered the same for searching purposes. 

If you enter more than one word, pages containing the phrase will be listed first, followed by pages that contain the individual words. You request exact matches only by using quotation marks around the entire phrase, in which case only matches to the phrase will be listed.
</p>

</html>
