<!DOCTYPE html>
<html>
<head>
<title>SDBS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="../static/bootstrap-3.3.6-dist/css/bootstrap.min.css" rel="stylesheet">
<link href="../static/bootstrap-3.3.6-dist/css/signin.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="well well-lg" style="background: #337ab7; color:white;"><h1>Social Driven Behavior and Search</h1></div>
		<div align="right">
		<a class="btn btn-default btn-sm" href="#" role="button" disabled="disabled">Home</a>
		<a class="btn btn-primary btn-sm active" href="/Loginrender" role="button">Login</a>
		<a class="btn btn-primary btn-sm active" href="/signUp" role="button">Sign Up</a>
		<a class="btn btn-primary btn-sm active" href="/helprender" role="button">Help</a>
		</div>
		
		<br/><br/><br/>
		
		<div class="panel panel-primary">
			<div class=panel-heading>
				<div class="panel-body">
				Social Media has become an important platform for people to collaborate, communicate and staying together. <br><br>There is a huge amount of unstructured data in form of comments, likes/dislikes, conversations and consumer preferences. <br><br>This data gives enormous advantage to the organization where they can understand the consumer preferences, recent trends/fads and branding/marketing related information.<br><br>The Social driven Behaviour and Search is about searching the social media (Facebooks, LinkedIn, Twitter, Google Plus) with the Direct and Behavioral search.<br><br> The search options includes having a global search and searching in the connected/closed world for a given person (id). <br><br>The System also targets creating a social linked tree of the given members, where the search can be made.
				</div>
			</div>
		</div>
	</div>
</body>
</html>
