<!DOCTYPE html>
<html>
<head>
	<title>Log in</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="../static/bootstrap-3.3.6-dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="../static/bootstrap-3.3.6-dist/css/signin.css" rel="stylesheet">
	
	<script type="text/javascript">
		function checkForm(form) { 
		if(form.username.value == "") { alert("Error: Please enter username!"); form.username.focus(); return false; } 
		if(form.pwd1.value =="") { alert("Error: Please enter password"); form.pwd1.focus(); return false; }
		} 
	</script>
</head>

<body>
	<div class="container">
		<div class="well well-lg" style="background: #337ab7; color:white;"><h1>Social Driven Behavior and Search</h1></div>
		<form action="/Login" method="POST" onsubmit="return checkForm(this);" class="form-signin">
			<div class="panel panel-primary">
				<div class=panel-heading>
					<div class="panel-body">
						<h2 class="form-signin-heading">Please sign in</h2>
						<h2>{{error}}</h2>
								
						<label for="username" class="sr-only">User Name</label>
						<input type="text" id="username" name="username" class="form-control" placeholder="User Name" required></input>
						<br/>
						<label for="pwd1" class="sr-only">Password</label>
						<input type="password" id="pwd1" name="pwd1" class="form-control" placeholder="Password" required></input>

						<div class="checkbox">
							<label>
								<input type="checkbox" value="remember-me"> Remember me
							</label>
						</div>
					</div>
				</div>
			</div>
			<button class="btn btn-lg btn-primary btn-block" type="submit" onclick="myFunction()">Sign in</button>
			<p><a href="/forgetpassword">Forgot Password ?</a></p>
		</form>
	</div>
</body>
</html>
