<!DOCTYPE html>
<html>
<head>
	<title>Screen name</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> </link>
	<link href="../static/bootstrap-3.3.6-dist/css/signin.css" rel="stylesheet"></link>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script type="text/javascript">
	function checkForm(form) { 
		if(form.scname.value == "") {
			alert("Please enter screen name!");
			var screenNameField = document.getElementById('scname');
			screenNameField.focus();
			return false;
		} 
	 }
	</script>
</head>
<body>

<div class="container">
		<div class="well well-lg" style="background: #337ab7; color:white;"><h1>Social Driven Behavior and Search</h1></div>
		<div align="right">
		<a class="btn btn-primary btn-sm active" href="/home_render" role="button" >Home</a>
		<a class="btn btn-default btn-sm" href="#" role="button" disabled="disabled">Sign Up</a>
		<a class="btn btn-primary btn-sm active" href="/helprender" role="button">Help</a>
		<a class="btn btn-primary btn-sm active" href="/Loginrender" role="button">Log out</a>
		</div>
		
		<div id="header"><h1>Welcome To Twitter based Search!</h1></div>
		<form action="/get_twitter_id" method="POST" onsubmit="return checkForm(this);" class="navbar-form navbar-center">
			<div class="panel panel-primary">
				<div class=panel-heading>
					<div class="panel-body">
						<div class="form-group">
							<label for="scname">Twitter Screen name</label>
							<input type="text" class="form-control" id="scname" name="scname" placeholder="twitter screen name of user"></input>
						</div>
					</div>
				</div>
			</div>
			<div>
				<input type="submit"  name=btn value="Submit" class="btn btn-primary btn-sm active"/>
			</div>
		</form>
</body>
</html>
