<!DOCTYPE html>
<html>

<head>
	<title>Sign up</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="../static/bootstrap-3.3.6-dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="../static/bootstrap-3.3.6-dist/css/signin.css" rel="stylesheet">
	
	<script type="text/javascript">
		 function checkForm(form)
		 { 

		if(form.username.value == "") { alert("Error: Username cannot be blank!"); form.username.focus(); return false; } 
		if(form.pwd1.value != form.pwd2.value) { alert("Please check that entered password and confirmed password are same!"); form.usr.focus(); return false; } 

		if(form.ans.value =="") { alert("Error: answer field should not blank"); form.ans.focus(); return false; }

		re = /^\w+$/; if(!re.test(form.username.value)) { alert("Error: Username must contain only letters, numbers and underscores!"); form.username.focus(); return false; } 

		if(form.pwd1.value != "" && form.pwd1.value == form.pwd2.value) { if(form.pwd1.value.length < 6) { alert("Error: Password must contain at least six characters!"); form.pwd1.focus(); return false; } 

		if(form.pwd1.value == form.username.value) { alert("Password must be different from Username!"); form.usr.focus(); return false; } 


		re = /[0-9]/; if(!re.test(form.pwd1.value)) { alert("password must contain at least one number (0-9)!"); form.pwd1.focus(); return false; }


		re = /[a-z]/; if(!re.test(form.pwd1.value)) { alert("password must contain at least one lowercase letter (a-z)!"); form.pwd1.focus(); return false; } 



		re = /[A-Z]/; if(!re.test(form.pwd1.value)) { alert("password must contain at least one uppercase letter (A-Z)!"); form.pwd1.focus(); return false; }

		 } 

		re = /[0]/; if(re.test(form.role1.value)) { alert("please select security question!"); form.role1.focus(); return false; }

		if(form.ans.value =="") { alert("answer field should not blank"); form.ans.focus(); return false; }

		alert("User created Successfully! "); return true; } 



	</script>
</head>

<body>

	<div class="container">
		<div class="well well-lg" style="background: #337ab7; color:white;"><h1>Social Driven Behavior and Search</h1></div>
		<form action="/Login" method="POST" onsubmit="return checkForm(this);" class="form-signin">
			<div class="panel panel-primary">
				<div class=panel-heading>
					<div class="panel-body">
						<h2 class="form-signin-heading">User Signup</h2>
						<h2>{{error}}</h2>
								
						<label for="username" class="sr-only">User Name</label>
						<input type="text" id="username" name="username" class="form-control" placeholder="User Name" required pattern="\w+" title="Username must not be blank and contain only letters, numbers and underscores."></input>
						<br/>
						<label for="pwd1" class="sr-only">Password</label>
						<input type="password" id="pwd1" name="pwd1" class="form-control" placeholder="Password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" title="Password must contain at least 6 characters, including UPPER/lowercase and numbers."></input>
						<label for="pwd2" class="sr-only">Confirm Password</label>
						<input type="password" id="pwd2" name="pwd2" class="form-control" placeholder="Confirm Password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" title="Please enter the same Password as above." onchange=" this.setCustomValidity(this.validity.patternMismatch ? this.title : '');"></input>
						
						<label for="role">Select Security Question </label>
						<select class="form-control" name="role" id="role1">
							<option value=0>Please Select</option>
							<option value=1>What is your birth place?</option>
							<option value=2>What is youe nick name?</option>
							<option value=3>What was the name of your first pet?</option>
						</select>
						<br/>
						<label for="ans" class="sr-only">Answer</label>
						<input type="text" id="ans" name="ans" class="form-control" placeholder="Answer" required pattern="\w+" title="Security answer."></input>					
					</div>
				</div>
			</div>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
		</form>
	</div>
</body>
</html>
